<% layout('../views/guests/layouts/boilerplate') %>

      <body>
            <header>
                  <!-- Background image -->
                  <div id="hero_image">
                        <div id="hero-text">
                              <ul>
                                    <li>
                                          <h1 class="text-center">Todd & Sarah </h1>
                                    </li>
                                    <br>
                                    <li>
                                          <p class="text-center">ARE THROWING A PARTY</p>
                                    </li>
                                    <br>
                                    <li>
                                          <h4 class="text-center">May 27, 2023 | 4:00PM</h4>
                                    </li>
                                    <br>
                                    <li class="text-center">
                                          <a href="/guests"><button>
                                                      RSVP
                                                </button></a>

                                    </li>
                              </ul>
                        </div>
                        <div id="overlay"></div>
                  </div>
            </header>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="container">
                  <div class="row gx-5 justify-content-center">
                        <div class="col-md-6 text-center">
                              <img src='../assets/StoryImage.jpg' alt="Todd and Sarah Picture" id="story_image">
                        </div>
                        <div class="col-md-6">
                              <p>For those who didn't know</p>
                              <h2>
                                    <strong>Our Story</strong>
                              </h2>
                              <p>
                                    We met while coaching gymnastics, and quickly bonded over our shared passion. We
                                    became close friends and a few years later, we began dating and eventaully decided
                                    to take the next step to get married in February of this year. Our relationship is
                                    full of adventure and we always have soemthing in the works. We love taking long
                                    road trips, going on walks, and working hard towards our future goals for our
                                    family. We don't often plan too far ahead and prefer to take life as it comes and
                                    enjoy every moment as we figure things out along the way. We don't know where we'll
                                    be in 10 years, but we hope that we'll still be together and just as in love as we
                                    are now.
                              </p>
                        </div>
                  </div>
            </div>
            <br>
            <br>
            <br>
            <br>
      </body>