<% layout('../views/guests/layouts/boilerplate') %>

      <body>
            <header>
                  <!-- Background image -->
                  <div id="hero_image">
                        <div id="hero-text">
                              <h1 class="text-center">Todd Anderson and Sarah wald</h1>
                              <br>
                              <h1 class="text-center">Testing?</h1>
                              <br>
                              <h2 class="text-center">May 27, 2023 | 4:00PM</h2>
                              <br>
                              <button class="text-center">
                                    <a href="/rsvp">RSVP</a>
                              </button>
                        </div>
                        <div id="overlay"></div>
                  </div>
            </header>
            <br>
            <br>
            <br>
            <br>
            <div class="text-center container">
                  <div>
                        <h1>Todd Anderson</h1>
                        <h1>&</h1>
                        <h1>Sarah Wald</h1>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <div>
                        <h1>May 27, 2023</h1>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <img id="home-image-01" class="img-fluid" alt="home-image-01">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <div class="we_are">
                        <!-- Make this a link to google maps..? -->
                        <h5>Reception Address: 500 Amon Park Dr, Richland WA 99352</h5>
                        <h5>Start time: 4:00PM</h5>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <div class="we_are">
                        <h5>We met while coaching gymnastics, and quickly bonded over our shared passion. We became close friends and a few years later, we began dating and finally decided to take the next step to get married in February of this year. Our relationship is full of adventure. We love taking long road trips, going on walks, and working hard towards our future goals for our family. We don't often plan too far ahead and prefer to take life as it comes and enjoy every moment as we figure things out. We don't know where we'll be in 10 years, but we hope that we'll still be together and just as in love as we are now.</h5>
                  </div>
            </div>
      </body>