<% layout('../views/guests/layouts/boilerplate') %>

      <body>
            <header>
                  <!-- Background image -->
                  <div id="hero_image">
                        <div id="hero-text"><h1 class="text-center">Todd Anderson and Sarah wald</h1></div>
                        <div id="overlay"></div>
                  </div>
            </header>
            <br>
            <br>
            <br>
            <br>
            <div class="text-center container">
                  <div>
                        <h1>Todd Anderson</h1>
                        <h1>&</h1>
                        <h1>Sarah Wald</h1>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <div>
                        <h1>June 2, 2023</h1>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <img id="home-image-01" class="img-fluid" alt="home-image-01">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <div class="we_are">
                        <!-- Make this a link to google maps..? -->
                        <h5>Ceramony Address: 12345 West Anywehre Place, Richland WA 99354</h5>
                        <h5>Wedding start time: 12:00PM</h5>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <div class="we_are">
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus tempora accusamus sunt,
                              facilis explicabo ipsa eos nulla a labore neque fugiat veniam pariatur perferendis! Rerum
                              non similique soluta officia, voluptate iusto nam ducimus vel saepe, voluptatum mollitia
                              illo autem expedita deserunt. Exercitationem ducimus corporis fuga distinctio nisi dolorum
                              consectetur corrupti.</h5>
                  </div>
            </div>
      </body>