<% layout('../views/guests/layouts/boilerplate') %>
      <div>
            <div class="information">
                  <br>
                  <br>
                  <br>
                  <h1 class="text-center" id="infoHeroText">Our Reception & Details</h1>
                  <hr id="infoHr" class="container">
                  </hr>
                  <br>
                  <br>
                  <br>
                  <div class="container" id="infoReceptionDetails">
                        <div class="row justify-content-center">
                              <div class="col-lg-4 col-md-12 text-center">
                                    <img src='../assets/VectorImages/Calendar.png' alt="Calendar Cevtor Image"
                                          id="infoVecotrImage_calendar">
                                    <br>
                                    <h3><strong>Our reception day</strong></h3>
                                    <br>
                                    <h5>May 27, 2023</h5>
                                    <br>
                                    <p>Something cute to say about the day</p>
                              </div>
                              <div class="col-lg-4 col-md-12 text-center">
                                    <img src='../assets/VectorImages/Venue.png' alt="Calendar Cevtor Image"
                                          id="infoVecotrImage_venue">
                                    <br>
                                    <h3><strong>Our venue</strong></h3>
                                    <br>
                                    <h5>500 Amon Park Dr</h5>
                                    <br>
                                    <h5><a href="https://goo.gl/maps/dHVGnM18vW6RrbFb8">Directions</a></h5>
                              </div>
                        </div>
                  </div>
            </div>
            <br>
            <br>
            <br>
            <div class="container text-center">
                  <span>
                        <h1 id="ralenPhotography"></h1><a id="ralenunformattedLink" href="https://raelenphotography.net/">
                              Photos by Raelen Photography
                        </a></h1>
                        <hr id="infoHr" class="container">
                  </span>
            </div>
            <br>
            <div class="container">
                  <div class="row">
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                              <img src="../assets/InfoPageImages/Sarah&Todd_022.jpg"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

                              <img src="../assets/InfoPageImages/Sarah&Todd_035.jpg"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                              <img src="../assets/InfoPageImages/Sarah&Todd_051.jpg"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                              <img src="../assets/InfoPageImages/Sarah&Todd_099.jpg"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                              <img src="../assets/InfoPageImages/Sarah&Todd_067.jpg"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                              <img src="../assets/InfoPageImages/Sarah&Todd_078.jpg"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                              <img src="../assets/InfoPageImages/tobeused/Sarah&Todd_042.jpg"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

                              <img src="../assets/InfoPageImages/tobeused/Sarah&Todd_061.jpg"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                              <img src="../assets/InfoPageImages/tobeused/Sarah&Todd_086.jpg"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                              <img src="../assets/InfoPageImages/tobeused/Sarah&Todd_068.jpg"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                              <img src="../assets/InfoPageImages/tobeused/Sarah&Todd_090.jpg"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                              <img src="../assets/InfoPageImages/tobeused/Sarah&Todd_084.jpg"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
                        </div>
                  </div>
            </div>
      </div>