<% layout('../views/guests/layouts/boilerplate') %>
      <div>
            <div class="information">
                  <br>
                  <br>
                  <br>
                  <h1 class="text-center" id="infoHeroText">Our Reception & Details</h1>
                  <hr id="infoHr" class="container"></hr>
                  <br>
                  <br>
                  <br>
                  <div class="container" id="infoReceptionDetails">
                        <div class="row justify-content-center">
                              <div class="col-lg-4 col-md-12 text-center">
                                    <img src='../assets/VectorImages/Calendar.png' alt="Calendar Cevtor Image" id="infoVecotrImage_calendar">
                                    <br>
                                    <h3><strong>Our reception day</strong></h3>
                                    <br>
                                    <h5>May 27, 2023</h5>
                                    <br>
                                    <p>Something cute to say about the day</p>
                              </div>
                              <div class="col-lg-4 col-md-6 text-center">
                                    <img src='../assets/VectorImages/Venue.png' alt="Calendar Cevtor Image" id="infoVecotrImage_venue">
                                    <br>
                                    <h3><strong>Our venue</strong></h3>
                                    <br>
                                    <h5>1234 Anywehre place</h5>
                                    <br>
                                    <p>Google address link?</p>
                              </div>
                              </div>
                  </div>
            </div>
            <br>
            <br>
            <br>
            <div class="container">
                  <div class="row">
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

                              <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                              <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                              <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
                                    class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
                        </div>
                  </div>
            </div>
      </div>