<% layout('../views/guests/layouts/boilerplate') %>

      <div>
            <div class="information">
                  <h1 class="text-center" id="infoHeroText">Wedding Registry</h1>
                  <hr id="infoHr" class="container">
                  </hr>
                  <br>
                  <div>
                        <div class="container" id="registryDetails01">
                              <div class="row justify-content-center">
                                    <div class="col-lg-3 col-md-12 text-center">
                                          <img src='../assets/shoeTie.jpg' alt="Todd and Sarah Picture" id="shoeTie">
                                    </div>
                                    <div class="col-lg-3 col-md-12 text-center g-1">
                                          <h2 id="thankYouHoneyMoonTitle">
                                                <strong>Our Honeymoon</strong>
                                                <hr id="ThankYouHr" class="container">
                                          </h2>
                                          <h5 id="thankYouHoneymoonText" class="container">
                                                We are excited to begin planning our honeymoon and would be so grateful
                                                if our wedding guests could help us make it the trip of a lifetime!
                                          </h5>
                                          <br>
                                          <h5 id="thankYouHoneymoonText" class="container">We would love to go on a special trip to Italy to create a few
                                                lasting memories. We would be honored if you could contribute to our
                                                honeymoon fund, no matter how small or large the amount may be.</h5>
                                          <br>
                                          <h5 id="thankYouHoneymoonText" class="container">Thank you for helping us make this honeymoon a reality, we really do
                                                appreciate it.</h5>
                                    </div>
                              </div>
                        </div>
                        <br>
                        <br>
                  </div>
            </div>
            <div id="registryDetails02Padding">
                  <div class="container" id="registryDetails02">
                        <div class="row justify-content-center">
                              <div class="col-lg-3 col-md-12 text-center">
                                    <h2 id="thankYouHoneyMoonTitle">
                                          <strong>Our Registry</strong>
                                          <hr id="ThankYouHr" class="container">
                                    </h2>
                                    <h5 class="container">
                                          We are so thankful that you are able to join us on this special day and share
                                          our joy. Your presence is the greatest gift of all, but if you would like to
                                          give us a wedding present, we are registered at both Amazon and Target.
                                    </h5>
                                    <br>
                                    <h5>We
                                          look forward to celebrating the day with you and thank you sharing this day
                                          with us!</h5>
                              </div>
                              <div class="col-lg-2 col-md-12 text-center" id="registryButtonContainers">
                                    <br>
                                    <img src='../assets/VectorImages/amazon.png' alt="Calendar Cevtor Image"
                                          id="targetDogVectorImage">
                                    <br>
                                    <a class="text-center" target="_blank"
                                          href="https://www.amazon.com/wedding/sarah-wald-todd-anderson-richland-may-2023/registry/T31KRI72MLBV"><button
                                                id="registryButtons" class="text-center container">
                                                Amazon
                                          </button></a>
                              </div>
                              <div class="col-lg-2 col-md-12 text-center" id="registryButtonContainers">
                                    <br>
                                    <img src='../assets/VectorImages/targetDog.png' alt="Calendar Cevtor Image"
                                          id="targetDogVectorImage">
                                    <br>
                                    <a class="text-center" target="_blank"
                                          href="https://www.target.com/gift-registry/gift-giver?registryId=38925380-07a7-11ed-9dd6-e5b74c57ac90&type=WEDDING"><button
                                                id="registryButtons" class="text-center container">
                                                Target
                                          </button></a>
                              </div>
                        </div>
                  </div>
            </div>