<% layout('../views/guests/layouts/boilerplate') %>

<div>
      <div id="family_image">
            <div class="bg-image p-5 text-center shadow-1-strong mb-5 text-white"
                  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp'); height: 200px;">
                  <h1 class="mb-3 h2">Todd Anderson & Sarah Wald</h1>
            </div>
      </div>
      
      <div class="container text-center" id="family_list_div">
            <div id="rsvp_lettering">
                  <h1>~ Registry ~</h1>
                  <hr>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat reprehenderit et reiciendis iste error fuga!</p>
            </div>
            <div class="family_list">
                  <div class="row">
                        <h1>Registered at:</h1>
                        <hr>
                  </div>
                  <div class="row">
                        <div class="col">
                              <img src="https://picsum.photos/200" alt="">
                        </div>
                        <div class="col">
                              <img src="https://picsum.photos/200" alt="">
                        </div>
            </div>
            
      
      </div>
</div>