<% layout('../views/guests/layouts/boilerplate') %>

      <div>
            <div class="information">
                  <br>
                  <br>
                  <br>
                  <h1 class="text-center" id="infoHeroText">Wedding Registry</h1>
                  <hr id="infoHr" class="container">
                  </hr>
                  <br>
                  <div>
                        <div class="container" id="registryDetails01">
                              <div class="row justify-content-center">
                                    <div class="col-lg-4 col-md-12 text-center">
                                          <img src='../assets/Italy.jpg' alt="Todd and Sarah Picture" id="story_image">
                                    </div>
                                    <div class="col-lg-4 col-md-12 text-center">

                                          <h2 id="thankYouHoneyMoonTitle">
                                                <strong>Our Honeymoon</strong>
                                                <hr id="ThankYouHr" class="container">
                                          </h2>
                                          <h5 id="thankYouHoneymoonText" class="container">
                                                We are so thankful that you are able to join us on this special day and
                                                share
                                                our joy. Your presence is the greatest gift of all, but if you would
                                                like to
                                                give us a wedding present, we are registered at both Amazon and Target.
                                                We
                                                look forward to celebrating the day with you and thank you sharing this
                                                day
                                                with us!
                                          </h5>
                                    </div>
                              </div>
                        </div>
                        <br>
                        <br>
                  </div>
            </div>
            <div id="registryDetails02Padding">
                  <div class="container" id="registryDetails02">
                        <div class="row justify-content-center">
                              <div class="col-lg-3 col-md-12 text-center">
                                    <h2 id="thankYouHoneyMoonTitle">
                                          <strong>Our Registry</strong>
                                          <hr id="ThankYouHr" class="container">
                                    </h2>
                                    <h5 id="thankYouHoneymoonText" class="container">
                                          We are so thankful that you are able to join us on this special day and share
                                          our joy. Your presence is the greatest gift of all, but if you would like to
                                          give us a wedding present, we are registered at both Amazon and Target. We
                                          look forward to celebrating the day with you and thank you sharing this day
                                          with us!
                                    </h5>
                              </div>
                              <div class="col-lg-2 col-md-12 text-center" id="registryButtonContainers">
                                    <br>
                                    <img src='../assets/VectorImages/Calendar.png' alt="Calendar Cevtor Image"
                                          id="infoVecotrImageVenue">
                                    <br>
                                    <a class="text-center" target="_blank"
                                          href="https://www.amazon.com/wedding/sarah-wald-todd-anderson-richland-may-2023/registry/T31KRI72MLBV"><button
                                                id="registryButtons" class="text-center container">
                                                Amazon
                                          </button></a>
                              </div>
                              <div class="col-lg-2 col-md-12 text-center" id="registryButtonContainers">
                                    <br>
                                    <img src='../assets/VectorImages/Calendar.png' alt="Calendar Cevtor Image"
                                          id="infoVecotrImageVenue">
                                    <br>
                                    <a class="text-center" target="_blank"
                                          href="https://www.target.com/gift-registry/gift-giver?registryId=38925380-07a7-11ed-9dd6-e5b74c57ac90&type=WEDDING"><button
                                                id="registryButtons" class="text-center container">
                                                Target
                                          </button></a>
                              </div>
                        </div>
                  </div>
            </div>