<% layout('../views/guests/layouts/boilerplate') %>

<div>
      <div id="family_image">
      </div>
      
      <div class="container text-center" id="family_list_div">
            <div>
                  <h1 class="text-center" id="infoHeroText">Registry</h1>
                  <hr id="infoHr" class="container"></hr>
                  <p>We are very pore and would like some gifts D:</p>
            </div>
            <div class="family_list">
                  <div class="row">
                        <h1>Registered at:</h1>
                        <hr>
                  </div>
                  <div class="row">
                        <div class="col">
                              <img src="https://picsum.photos/200" alt="">
                        </div>
                        <div class="col">
                              <img src="https://picsum.photos/200" alt="">
                        </div>
            </div>
            
      
      </div>
</div>