<% layout('../views/guests/layouts/boilerplate') %>

      <div>
            <div class="information">
                  <br>
                  <br>
                  <h1 class="text-center" id="infoHeroText">Thank you for conmfirming your attendance!</h1>
                  </hr>
                  <div class="container" id="infoReceptionDetails">
                        <div class="row justify-content-center">
                              <div class="col-lg-3 col-md-12 text-center" id="venueIconSet">
                                    <img src='../assets/VectorImages/Question.png' alt="Calendar Cevtor Image"
                                          id="infoVecotrImageQuestion">
                                    <br>
                                    <h3><strong>Need more info?</strong></h3>
                                    <br>
                                    <a href="/info"><button>
                                          Info Page
                                    </button></a>
                              </div>
                              <div class="col-lg-3 col-md-12 text-center" id="venueIconSet">
                                    <img src='../assets/VectorImages/Registry.png' alt="Calendar Cevtor Image"
                                          id="infoVecotrImageRegistry">
                                    <br>
                                    <h3><strong>Our Registry</strong></h3>
                                    <br>
                                    <a href="/registry"><button>
                                          Registry Page
                                    </button></a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <h1 class="text-center" id="infoHeroText">Funny trivia about us...?</h1>
      <hr id="infoHr" class="container">
      </hr>