@media screen and (max-width: 480px) {
  #show_family_list {
    min-width: 100%;
  }
  #show_family_list {
    min-width: 100%;
  }
  #family_list_div {
    min-width: 100%;
  }
  #family_list {
    min-width: 100%;
  }
  #infoHr {
    width: 70vw;
  }
  #searchBarDiv{
    background-color: aqua;
    margin-top: 1.5em;
  }
  #search_button {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 2em;
    padding-right: 2em;
  }
  #infoVecotrImageVenue{
    margin-left: 5em;
    padding: 0;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: large;
  padding: 0;
  margin: 0;
}
.guest_link {
  display: block;
  color: black;
  text-decoration: none;
  width: 100%;
}
a:hover {
  color: black;
  text-decoration: none;
  padding: auto;
}

ul {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  padding: 0.15rem 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 1rem;
  border-bottom: 0.15rem solid transparent;
}

.nav-link:hover {
  border-bottom-color: rgb(78, 78, 78);
}

.nav-link.active {
  border-bottom-color: rgb(78, 78, 78);
}

.family_list {
  margin: 1rem;
  height: auto;
  border: 1px solid black;
  padding: 3% 15% 2% 15%;
  font-size: 125%;
}

#show_family_list {
  font-family: "Roboto", sans-serif;
  width: 40%;
  margin: 0 auto;
}

#family_list_hr {
  width: 100%;
}
#rsvp_button {
  margin-top: 2%;
  margin-bottom: 2%;
}

.main_family_list_item {
  font-family: "Roboto", sans-serif;
  border: 1px solid rgba(129, 129, 129, 0.5);
  height: 4rem;
  margin: 2% auto 0 auto;
  width: 75%;
  cursor: pointer;
  padding-top: 3% 0 0 0;
  max-width: 45rem;
  padding-top: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  color: #000000;
  text-decoration: none;
}

#main_family_list {
  margin-top: 2rem;
}

#family_list_div {
  justify-content: center;
  justify-items: center;
  width: 50%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.main_family_list_item:hover {
  background-color: rgba(0, 0, 0, 0.075);
  transition: 0.3s;
  box-shadow: 2px 1px rgb(117, 117, 117);
}

#search_button {
  margin-top: -0.1em;
  padding-left: 2em;
  padding-right: 2em;
  display: inline-block;
}

#searchBarDiv{
  margin-top: 1.5em;
  margin-left: 3em;
}

#search_bar {
  height: 2rem;
  max-width: 15rem;
  width: 100%;
  margin: 0;
}
#horizontal_line {
  width: 20rem;
  display: inline;
}

.tenor-gif-embed {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
}

#no_guests_match {
  padding: 0.5rem;
  margin: 0.5rem;
}

.footer {
  font-family: "Roboto", sans-serif;
  bottom: 0;
  width: 100%;
}

.we_are {
  margin: 0 20% 0 20%;
  font-family: "Roboto", sans-serif;
}

.collapse {
  justify-content: center;
}

.footer_item {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.first_family_member {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.accept_decline {
  float: right;
  display: flex;
  margin: 0.2rem 0 0.2rem 0;
}

.guset_name {
  font-weight: bold;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: rgb(16, 143, 182);
}

.main_family_list_item_accepted {
  border: 1px solid rgba(129, 129, 129, 0.5);
  height: 4rem;
  margin: 2% auto 0 auto;
  width: 75%;
  padding-top: 3% 0 0 0;
  max-width: 45rem;
  padding-top: 1rem;
  border-radius: 5px;
  background-color: rgba(168, 168, 168, 0.315);
}

#hero_image {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background: center / cover no-repeat;
  background-attachment: fixed;
  background-image: url("../assets/HeroImage.jpg");
  position: relative;
}

#story_image {
  width: 350px;
  height: 350px;
}

#hero-text {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

#hero-text h1 {
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
  font-size: calc(3.5rem + 1.4vw);
  color: hsl(216, 33%, 97%);
}

#hero-text h4 {
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
  font-size: calc(1rem + 0.9vw);
  color: hsl(216, 33%, 97%);
}

#hero-text p {
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
  color: hsl(216, 33%, 97%);
}

#hero-text a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

button {
  color: #000000;
  background-color: #ffffff;
  font-size: 19px;
  padding: 16px 50px;
  cursor: pointer;
  transition: 214ms ease-in-out;
  border: none;
}
button:hover {
  color: #000000;
  background-color: rgb(156, 156, 156);
}

#overlay {
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  position: absolute;
  top: 0;
}

.list_item {
  margin: 1rem;
}

#home-image-01 {
  background-image: url("../assets/HomePage01.jpg");
}

#todd_and_sarah {
  justify-content: flex-start;
  font-family: 'Playfair Display', serif;
  margin: 0;
  margin-left: 2em;
  margin-right: 1em;
  font-weight: bold;
}

.information {
  background-color: rgb(219, 219, 219);
  padding-top: 2em;
  padding-bottom: 2em;
}

#registryImage {
  width: 100vw;
  height: 50vh;
  max-width: 100%;
  background: center / cover no-repeat;
  background-image: url("../assets/RegistryHero.jpg");
  position: relative;
}

#RSVPImage {
  width: 100vw;
  height: 50vh;
  max-width: 100%;
  background: center / cover no-repeat;
  background-image: url("../assets/InfoPage02.jpg");
  position: relative;
}

#pokemon {
  padding-top: 85.581%;
  position: relative;
  justify-content: center;
}

#infoVecotrImage_calendar{
  width: 5em;
  height: 4.375em;
  margin-bottom: 15px;
}

#calendarDescription{
  padding-bottom: 2em;
}

#infoVecotrImageVenue{
  width: 5.5em;
  height: 5em;
  margin-bottom: 1em;
  margin-top: -5px;
  margin-left: 0;
  margin-right: 0;
}

#infoVecotrImageCamera{
  width: 7em;
  height: 5em;
  margin-bottom: 1em;
  margin-top: -5px;
}

#infoVecotrImage_location{
  width: 65px;
  height: 70px;
  margin-bottom: 20px;
  margin-top: -5px;
}

#infoReceptionDetails {
  display: inline;
}

#heroText {
  font-family: 'Playfair Display', serif;
  font-size: 200px;
}

#infoHeroText {
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
  font-size: 2.5em;
  color: hsl(0, 0%, 0%);
}

#ralenPhotography {
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
  font-size: calc(1rem + 1.1vw);
  color: hsl(0, 0%, 0%);
}

#infoHr {
  width: 30vw;
}

#italisized {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  margin-top: 1em;
}

#ralenunformattedLink {
  text-decoration: none;
  color: #000;
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
  font-size: calc(1rem + 1.1vw);
  color: hsl(0, 0%, 0%);
}
#unformattedLink:hover {
  text-decoration: none;
  color: #000;
}
.navbar-toggler {
  margin: 10px;
}

#ThankYouHr {
  max-width: 8em;
  margin-top: 0;
}

#thankYouText{
  margin-bottom: 2em;
}

#thankYouHoneymoonText{
  margin-bottom: 0em;
  margin-top: 1em;
  max-width: 25em;
}

#registryDetails01 {
  display: inline;
}
#registryDetails02 {
  display: inline;
  padding-top: 20em;
}

#registryDetails02Padding {
  padding-top: 1em;
  padding-bottom: 2em;
}

#thankYouHoneyMoonTitle{
  margin-top: 1em;
}

#registryButtons{
  background-color: rgb(219, 219, 219);
  max-width: 8em;
  padding: 2;
  margin: 1em;
}

#registryButtons:hover{
  background-color: rgba(100, 219, 104, 0.336);
}

#registryButtonContainers{
  padding: 0;
  margin: -1em;
  margin-top: 3em;
}

#venueIconSet{
  margin-top: 2em;
}

#infoVecotrImageQuestion{
  width: 4.4em;
  height: 4.375em;
  margin-bottom: 1em;
}

#infoVecotrImageRegistry{
  width: 4.4em;
  height: 4.375em;
  margin-bottom: 1em;
}

#noPadding{
  padding: 0;
}