<% layout('../views/guests/layouts/boilerplate') %>

      <body>
            <div id="family_image">
                  <div class="bg-image p-5 text-center shadow-1-strong mb-5 text-white"
                        style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp'); height: 200px;">
                        <h1 class="mb-3 h2">Todd Anderson & Sarah Wald</h1>
                  </div>
            </div>
            <div class="container text-center" id="family_list_div">
                  <div id="rsvp_lettering">
                        <h1>~ Add New Guest ~</h1>
                        <hr>
                  </div>
                  <form class="family_list" action="/guests" method="POST">
                        <div class="row">
                              <div class="col">
                                    <label for="first_name">Guest First Name</label>
                                    <input type="text" class="form-control" placeholder="First name" id="first_name" name="guest[firstName]">
                              </div>
                              <div class="col">
                                    <label for="last_name">Guest Last Name</label>
                                    <input type="text" class="form-control" placeholder="Last name" id="last_name" name="guest[lastName]">
                              </div>
                              <div class="col">
                                    <label for="family">Guest Family</label>
                                    <input type="text" class="form-control" placeholder="Family" id="family" name="guest[family]">
                              </div>
                        </div>
                        <br>
                        <button class="btn btn-success">Add guest</button>
                  </form>

            </div>
      </body>